<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopList</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
        integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

</head>

<body class="d-flex flex-column vh-100">

    <%- include('../partials/navbar') %>
        <%- include('../partials/sidebar') %>



            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pt-3">
                <%- include('../partials/flash') %>
                    <%- body %>
            </main>



            <%- include('../partials/footer') %>





                <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
                    integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD"
                    crossorigin="anonymous"></script>

                <script src='/javascripts/validateForms.js'></script>

                <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"
                    data-cfasync="false"></script>
                <script>
                    window.cookieconsent.initialise({
                        "palette": {
                            "popup": {
                                "background": "#252e39"
                            },
                            "button": {
                                "background": "#14a7d0"
                            }
                        },
                        "theme": "classic",
                        "content": {
                            "message": "Με την περιήγησή σας στο shoplist.gr, αποδέχεστε τη χρήση cookies που ενισχύουν σημαντικά την εμπειρία χρήσης.",
                            "dismiss": "Αποδοχή",
                            "link": "Μάθετε περισσότερα"
                        }
                    });
                </script>


</body>

</html>