<% layout('layouts/boilerplate.ejs') %>

<h1>Η Λίστα μου</h1>

<ul>
    <% let sum = 0.0 %>
    <% for (let product of list.products) { %>
    <% if (product.countedWithQuantity){ %>
    <li><%= product.title %>, Ποσότητα: <%= product.quantity %> τεμάχια
    </li>
    <% }else { %>
    <li><%= product.title %>, Βάρος: <%= product.weight %> κιλά
    </li>
    <% }} %>
</ul>

<br>
<hr>
Συνολική Τιμή στα καταστήματα Μασούτης: <%= masoutisTotal.toFixed(2) %>
<% if (!masoutisHasAllProducts) { %>
<strong> (Το κατάστημα δε διαθέτει όλα τα προϊόντα της λίστας!)</strong>
<% } %>
<hr>
Συνολική Τιμή στα καταστήματα My market: <%= myMarketTotal.toFixed(2) %>
<% if (!myMarketHasAllProducts) { %>
<strong> (Το κατάστημα δε διαθέτει όλα τα προϊόντα της λίστας!)</strong>
<% } %>
<hr>

<br><br>
<h2>Χάρτης καταστημάτων που διαθέτουν όλα τα προϊόντα της λίστας:</h2>
<div id='map' class="my-3" style='width: 400px; height: 300px;'></div>


<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const allShops = <%- JSON.stringify(shops) %>
    const theList = <%- JSON.stringify(list) %>
    const masoutisT = <%- JSON.stringify(masoutisTotal) %>
    const myMarketT = <%- JSON.stringify(myMarketTotal) %>
    const masoutisHasAll = <%- JSON.stringify(masoutisHasAllProducts) %>
    const myMarketHasAll = <%- JSON.stringify(myMarketHasAllProducts) %>
</script>




<script src='/javascripts/showPageMap.js'>
</script>