<% layout('layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="/stylesheets/list.css">

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=googleMapsKey%>&callback=initMap&libraries=&v=weekly"
    defer></script>

<h1>Η Λίστα μου</h1>

<br>
<% if(list.products.length === 0) {%>
<strong><i>Η Λίστα σας είναι κενή!</i></strong>
<% } %>


<ul>
    <% let sum = 0.0 %>
    <% for (let product of list.products) { %>
    <% if (product.countedWithQuantity) { %>
    <div class="card mb-1">
        <li>
            <div class="card-body">
                <% if (product.image) { %>
                <img class="img-fluid" style="max-width: 80px; max-height: 80px;" src="<%= product.image %> ">
                <% } %>
                <%= product.title %>, Ποσότητα: <%= product.quantity %> τεμάχια
                <div class="btn-group">

                    <a class="btn btn-sm btn-success my-1" href='/list/increaseQuantity/<%=product._id %>'
                        role="button">+
                        1</a>
                    <a class="btn btn-sm btn-danger my-1 role=" button""
                        href='/list/decreaseQuantity/<%=product._id %>'>-
                        1</a>
                    <a class="btn btn-warning my-1 mx-3" href='/list/removeProduct/<%=product._id %>'
                        role="button">Διαγραφή</a>
                </div>
            </div>
        </li>
    </div>




    <% }else { %>

    <div class="card mb-1">
        <li>
            <div class="card-body">
                <% if (product.image) { %>
                <img class="img-fluid" style="max-width: 80px; max-height: 80px;" src="<%= product.image %> ">
                <% } %>
                <%= product.title %>, Βάρος: <%= product.weight.toFixed(2) %> κιλά
                <div class="btn-group">
                    <a class="btn btn-sm btn-success my-1" href='/list/increaseWeightByALot/<%=product._id %>'
                        role="button">+ 1.0</a>
                    <a class="btn btn-sm btn-success my-1" href='/list/increaseWeightByALittle/<%=product._id %>'
                        role="button">+ 0.1</a>
                    <a class="btn btn-sm btn-danger my-1" href='/list/decreaseWeightByALittle/<%=product._id %>'
                        role="button">- 0.1</a>
                    <a class="btn btn-sm btn-danger my-1" href='/list/decreaseWeightByALot/<%=product._id %>'
                        role="button">- 1.0</a>
                    <a class="btn btn-warning my-1 mx-3" href='/list/removeProduct/<%=product._id %>'
                        role="button">Διαγραφή</a>
                </div>
        </li>
    </div>



    <% }} %>
</ul>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const gkey = '<%-process.env.GOOGLE_MAPS_API_KEY%>';
    const userAddress = <%- JSON.stringify(currentUserAddress) %>
    const allShops = <%- JSON.stringify(shops) %>
    const theList = <%- JSON.stringify(list) %>
    const masoutisT = <%- JSON.stringify(masoutisTotal.toFixed(2)) %>
    const myMarketT = <%- JSON.stringify(myMarketTotal.toFixed(2)) %>
    const vasilopoulosT = <%- JSON.stringify(vasilopoulosTotal.toFixed(2)) %>
    const sklavenitisT = <%- JSON.stringify(sklavenitisTotal.toFixed(2)) %>
    const masoutisHasAll = <%- JSON.stringify(masoutisHasAllProducts) %>
    const myMarketHasAll = <%- JSON.stringify(myMarketHasAllProducts) %>
    const vasilopoulosHasAll = <%- JSON.stringify(vasilopoulosHasAllProducts) %>
    const sklavenitisHasAll = <%- JSON.stringify(sklavenitisHasAllProducts) %>
    const geocoder = new google.maps.Geocoder();
    const service = new google.maps.DistanceMatrixService();
    
</script>



<br><br>
<div class="card mb-2">
    <h2>Συνολική Τιμή στα καταστήματα</h2>
    <ul id="totals-list" class="list-group">
    </ul>
</div>





<br><br>
<h2>Χάρτης καταστημάτων που διαθέτουν όλα τα προϊόντα της λίστας:</h2>
<div id='map' class="my-3" style='width: 100%; height: 400px;'></div>



<hr>
<h2 class='mt-5'>Προτεινόμενο κατάστημα για τα ψώνια σας: </h2>
<img id="recommendationImage" class="img-fluid" style="width: 50px; height: 50px;">
<h4 id="recommendationTitle"></span>
<h5 id="recommendationAddress"></span>




<script src='/javascripts/showPageMap.js'> 
</script>

<!-- <script src="/javascripts/sortTotals.js"></script> -->
<script>
    if (document.readyState !== 'loading') {
        console.log('document is already ready, just execute code here');
        sortTotals();
    } else {
        document.addEventListener('DOMContentLoaded', function () {
            console.log('document was not ready, place code here');
            sortTotals();
        });
    }

    async function sortTotals() {
        const organizations = [
            { "name": "Μασούτης", "total": parseFloat(masoutisT), "hasAllProducts": masoutisHasAll },
            { "name": "myMarket", "total": parseFloat(myMarketT), "hasAllProducts": myMarketHasAll },
            { "name": "ΑΒ Βασιλόπουλος", "total": parseFloat(vasilopoulosT), "hasAllProducts": vasilopoulosHasAll },
            { "name": "Σκλαβενίτης", "total": parseFloat(sklavenitisT), "hasAllProducts": sklavenitisHasAll}
        ]

        // Auksousa taksinomisi me vasi tin timi
        let swapped;
        let n = organizations.length - 1;
        do {
            swapped = false;
            for (let i = 0; i < n; i++) {
                if (organizations[i].total > organizations[i + 1].total) {
                    let temp = organizations[i];
                    organizations[i] = organizations[i + 1];
                    organizations[i + 1] = temp;
                    swapped = true;
                }
            }
            n--;
        } while (swapped);


        const totalsList = document.getElementById("totals-list");

        for (let org of organizations) {
            let li = document.createElement("li");
            li.setAttribute("class", "list-group-item");
            totalsList.appendChild(li);
            if (org.hasAllProducts) li.innerHTML = `<strong>${org.name}: ${org.total} €</strong>`;
            else li.innerHTML = `<strong>${org.name}: ${org.total} € <span style="color: red;"> &nbsp;&nbsp;*Το κατάστημα δε διαθέτει όλα τα προϊόντα της λίστας!</span></strong>`;
        }

    };
</script>



