<% layout('layouts/boilerplate.ejs') %>
    <h1>Όλα τα Προϊόντα</h1>



    <ul>
        <%for (let product of products) { %>
            <div class="card mb-2">
                <div class="row">
                    <div class="col-md-2">
                        <% if (product.image) { %>
                            <img class="img-fluid" width=auto height=auto src="<%= product.image %> ">
                            <% } %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="products/<%= product._id%>" class="nounderline">
                                    <%= product.title%>
                                </a></h5>
                            <p>
                                <%= product.category %>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Διαθέσιμο σε: </small>
                                <% for (let s of product.price2) { %>
                                    <small class="text-muted">
                                        <%= s.organization %>,
                                    </small>
                                    <% } %>
                            </p>


                        </div>


                    </div>
                    <div class="col-md-2 mt-4">
                        <a class="btn btn-primary btn-lg btn-block" href="products/<%= product._id%>">Δείτε Προϊόν</a>
                    </div>

                </div>
            </div>
            <% } %>




    </ul>